In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv('Highest Holywood Grossing Movies.csv')

In [3]:
movies.describe()

,ID,Year,Domestic Sales (in $),International Sales (in $),World Wide Sales (in $)
count,1000.000000,1000.000000,1.000000e+03,1.000000e+03,1.000000e+03
mean,501.500000,2008.181000,1.646405e+08,2.640890e+08,4.228430e+08
std,288.819436,10.585854,1.197541e+08,2.133847e+08,3.054844e+08
min,2.000000,1937.000000,6.752000e+03,2.450000e+07,1.799689e+08
25%,251.750000,2002.000000,9.572506e+07,1.321190e+08,2.272899e+08
50%,501.500000,2010.000000,1.349169e+08,1.941077e+08,3.197148e+08
75%,751.250000,2016.000000,1.983993e+08,3.188993e+08,4.852363e+08
max,1001.000000,2023.000000,9.366622e+08,2.138484e+09,2.923706e+09

In [4]:
movies.head()

,ID,Title,Movie Info,Year,Distributor,Budget (in $),Domestic Opening (in $),Domestic Sales (in $),International Sales (in $),World Wide Sales (in $),Release Date,Genre,Running Time,License
0,2,Avatar,A paraplegic Marine dispatched to the moon Pan...,2009,Twentieth Century Fox,237000000,77025481,785221649,2138484377,2923706026,16-Dec-09,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13
1,3,Avengers: Endgame,After the devastating events of Avengers: Infi...,2019,Walt Disney Studios Motion Pictures,356000000,357115007,858373000,1941066100,2799439100,24-Apr-19,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
2,4,Avatar: The Way of Water,Jake Sully lives with his newfound family form...,2022,20th Century Studios,December 14 2022 (EMEA APAC),134100226,684075767,1636174514,2320250281,24-Apr-19,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
3,5,Titanic,A seventeen-year-old aristocrat falls in love ...,1997,Paramount Pictures,200000000,28638131,674292608,1590450697,2264743305,19-Dec-97,"['Drama', 'Romance']",3 hr 14 min,PG-13
4,6,Star Wars: Episode VII - The Force Awakens,"As a new threat to the galaxy rises, Rey, a de...",2015,Walt Disney Studios Motion Pictures,245000000,247966675,936662225,1134647993,2071310218,16-Dec-15,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13

In [5]:
movies.isnull().sum()

ID                             0
Title                          0
Movie Info                     0
Year                           0
Distributor                    1
Budget (in $)                  0
Domestic Opening (in $)        0
Domestic Sales (in $)          0
International Sales (in $)     0
World Wide Sales (in $)        0
Release Date                   0
Genre                          0
Running Time                   0
License                       57
dtype: int64

In [6]:
movies.dropna(inplace=True)

In [7]:
movies.duplicated().sum()

0

In [8]:
movies.columns

Index(['ID', 'Title', 'Movie Info', 'Year', 'Distributor', 'Budget (in $)',
       'Domestic Opening (in $)', 'Domestic Sales (in $)',
       'International Sales (in $)', 'World Wide Sales (in $)', 'Release Date',
       'Genre', 'Running Time', 'License'],
      dtype='object')

In [9]:
movies['Tag'] = movies['Movie Info'] + movies['Genre']

In [10]:
new_data = movies.drop(columns=['Movie Info', 'Genre', 'Budget (in $)', 'Domestic Sales (in $)', 'Running Time','Year', 'Distributor', 'Domestic Opening (in $)','International Sales (in $)','Release Date','World Wide Sales (in $)', 'License'])

In [11]:
new_data

,ID,Title,Tag
0,2,Avatar,A paraplegic Marine dispatched to the moon Pan...
1,3,Avengers: Endgame,After the devastating events of Avengers: Infi...
2,4,Avatar: The Way of Water,Jake Sully lives with his newfound family form...
3,5,Titanic,A seventeen-year-old aristocrat falls in love ...
4,6,Star Wars: Episode VII - The Force Awakens,"As a new threat to the galaxy rises, Rey, a de..."
...,...,...,...
995,997,Sweet Home Alabama,A young woman who has reinvented herself as a ...
996,998,Daddy's Home 2,Having finally gotten used to each other's exi...
997,999,Hacksaw Ridge,World War II American Army Medic Desmond T. Do...
998,1000,Deja Vu,"After a ferry is bombed in New Orleans, an A.T..."
999,1001,M3GAN,A robotics engineer at a toy company builds a ...

In [12]:
from sklearn.feature_extraction.text import CountVectorizer

In [13]:
cv = CountVectorizer(max_features = 1000, stop_words='english')

In [14]:
cv

CountVectorizer(max_features=1000, stop_words='english')

In [15]:
vector = cv.fit_transform(new_data['Tag'].values.astype('U')).toarray()

In [16]:
vector.shape

(942, 1000)

In [17]:
from sklearn.metrics.pairwise import cosine_similarity

In [18]:
similarity = cosine_similarity(vector)

In [19]:
similarity

array([[1.        , 0.23132597, 0.40360368, ..., 0.05783149, 0.2773501 ,
        0.21483446],
       [0.23132597, 1.        , 0.25286087, ..., 0.13043478, 0.15638581,
        0.16151457],
       [0.40360368, 0.25286087, 1.        , ..., 0.10114435, 0.18190172,
        0.18786729],
       ...,
       [0.05783149, 0.13043478, 0.10114435, ..., 1.        , 0.        ,
        0.        ],
       [0.2773501 , 0.15638581, 0.18190172, ..., 0.        , 1.        ,
        0.32274861],
       [0.21483446, 0.16151457, 0.18786729, ..., 0.        , 0.32274861,
        1.        ]])

In [20]:
new_data[new_data['Title']=="Avengers: Endgame"].index[0]

1

In [21]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 942 entries, 0 to 999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      942 non-null    int64
 1   Title   942 non-null    object
 2   Tag     942 non-null    object
dtypes: int64(1), object(2)
memory usage: 29.4+ KB

In [22]:
distance = sorted(list(enumerate(similarity[3])), reverse= True, key=lambda vector:vector[1])
for i in distance [0:6]:
    print(new_data.iloc[i[0]].Title)

Titanic
Twilight
Bridget Jones's Diary
Something's Gotta Give
Moulin Rouge!
Up

In [28]:
def recommend(movies):
    index = new_data[new_data['Title']==movies].index[0]
    distance = sorted(list(enumerate(similarity[index])), reverse= True, key=lambda vector:vector[1])
    for i in distance [0:5]:
        print(new_data.iloc[i[0]].Title)

In [29]:
import pickle

In [30]:
pickle.dump(new_data, open('movies_list.pkl', 'wb'))

In [34]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))

In [35]:
pickle.load(open('movies_list.pkl', 'rb'))

,ID,Title,Tag
0,2,Avatar,A paraplegic Marine dispatched to the moon Pan...
1,3,Avengers: Endgame,After the devastating events of Avengers: Infi...
2,4,Avatar: The Way of Water,Jake Sully lives with his newfound family form...
3,5,Titanic,A seventeen-year-old aristocrat falls in love ...
4,6,Star Wars: Episode VII - The Force Awakens,"As a new threat to the galaxy rises, Rey, a de..."
...,...,...,...
995,997,Sweet Home Alabama,A young woman who has reinvented herself as a ...
996,998,Daddy's Home 2,Having finally gotten used to each other's exi...
997,999,Hacksaw Ridge,World War II American Army Medic Desmond T. Do...
998,1000,Deja Vu,"After a ferry is bombed in New Orleans, an A.T..."
999,1001,M3GAN,A robotics engineer at a toy company builds a ...

In [36]:
pickle.load(open('similarity.pkl', 'rb'))

array([[1.        , 0.23132597, 0.40360368, ..., 0.05783149, 0.2773501 ,
        0.21483446],
       [0.23132597, 1.        , 0.25286087, ..., 0.13043478, 0.15638581,
        0.16151457],
       [0.40360368, 0.25286087, 1.        , ..., 0.10114435, 0.18190172,
        0.18786729],
       ...,
       [0.05783149, 0.13043478, 0.10114435, ..., 1.        , 0.        ,
        0.        ],
       [0.2773501 , 0.15638581, 0.18190172, ..., 0.        , 1.        ,
        0.32274861],
       [0.21483446, 0.16151457, 0.18786729, ..., 0.        , 0.32274861,
        1.        ]])